<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.utkur.yukuzapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x0020000"
        android:required="true"
        tools:ignore="ManifestOrder" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/yuk_uz"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ActionBarStyle"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />

        <activity
            android:name=".EntranceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Authentication.Registration.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".MainDirectory.Pages.RelatedToPerson.PersonProfile"
            android:label="@string/app_name"
            android:parentActivityName=".MainDirectory.MainActivityV2"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainDirectory.MainActivityV2" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA0j7zFcmUOx2BrIEb55Wj5evRsG0Cvjdw" />

        <activity android:name=".ForgotPasswordActivity" />
        <activity
            android:name=".Authentication.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.ActionBarStyle"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".MainDirectory.MainActivityV2"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ActionBarStyle.NoActionBar"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainDirectory.AddressSelectorActivity"
            android:label="@string/title_activity_address_selector"
            android:theme="@style/AppTheme.ActionBarStyle"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".MainDirectory.ViewEditOrderActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".MainDirectory.CreateOrder.FillBasics"
            android:label="Create Order"
            android:parentActivityName=".MainDirectory.MainActivityV2"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainDirectory.MainActivityV2" />
        </activity>
        <activity
            android:name=".MainDirectory.Pages.RelatedToDriver.FillDriverBlanks"
            android:label="Fill Blanks"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".MainDirectory.Pages.ProfileSettingsActivity"
            android:label="Profile Settings"
            android:parentActivityName=".MainDirectory.MainActivityV2"
            tools:ignore="InnerclassSeparator">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".MainDirectory.MainActivityV2" /> -->
        </activity>

        <service
            android:name=".TestCases.MyFireBaseInstanceIDService"
            android:exported="false"
            tools:ignore="ExportedService,InnerclassSeparator">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".TestCases.MyFireBaseMessagingService"
            android:exported="false"
            tools:ignore="ExportedService,InnerclassSeparator">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainDirectory.Pages.ViewPickedOrderActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".MainDirectory.Pages.ViewSingleOrderFromPersonActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".MainDirectory.Pages.DriversListPickedOrderActivity"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>